﻿@model Bookstore.Models.OrderViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Order number
            </th>
            <th>
                Books
            </th>
            <th>
                Order number
            </th>
            <th>
                OrderInfo
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Orders)
        {
        <tr>
            <td>
                @Html.DisplayFor(ModelItem => item.OrderId)
            </td>
            <td>
                @foreach (var book in Model.OrderDetails.Where(o => o.OrderId == item.OrderId))
                {
                    @book.BookId<br>

                }
            </td>
            <td>
                @foreach (var book in Model.OrderDetails.Where(o => o.OrderId == item.OrderId))
                {
                    @book.Quantity<br>
                }
            </td>
            <td>
                $ @Model.OrderDetails.Where(o => o.OrderId == item.OrderId).Select(s => s.Price * s.Quantity).Sum()
            </td>
            <td>
                <a asp-action="OrderInfo" asp-route-id="@item.OrderId">Order</a>
            </td>
        </tr>

        }
    </tbody>
</table>

