﻿@model Bookstore.Models.ShoppingCartViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Quantity
            </th>
            <th>
                Book
            </th>
            <th>
                Price
            </th>
            <th>
                Subtotal
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    $@((item.Book.Price * item.Quantity).ToString())
                </td>
                <td>
                <td class="text-center">
                    <a class="glyphicon glyphicon-remove text-danger remove" asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-bookid="@item.Book.BookId"></a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>
                <a asp-controller="Books" asp-action="Index">Back to shopping</a>
            </td>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                $@Model.Total.ToString()
            </td>
            <td class="text-center">
                <a asp-controller="Order" asp-action="Create">Order</a>
            </td>
        </tr>
    </tfoot>
</table>
